= render 'shared/switch_view'

.options
  = render 'shared/avata'

#content.d-flex
  .content.flex-grow-1
    #container
      %ul
        %li
          Root node
          %ul
            %li Child node 1
            %li Child node 2
    %ul
      - @provinces.each do |province|
        %li= "#{province.name_km} (#{province.callers_count})"

  .grap.flex-grow-1
    grap
