<div id="map"></div>
<div class="options">
  <% if @query.locations.count > 0 %>
    <p class="d-inline" style="font-size: 18px">បង្ហាញចំនួនតេ <%= @query.inperiod_count %> ក្នុង <%= @query.all_count %></p>
  <% end %>
  <div class="btn-group btn-group-toggle" role="group" aria-label="Basic example">
    <%= link_to "ខេត្ត", root_path(kind: 'province', daterange: @date_range), class: "btn btn-sm btn-outline-dark #{active_province}", 'data-kind': 'province' %>
    <%= link_to "ស្រុក", root_path(kind: 'district', daterange: @date_range), class: "btn btn-sm btn-outline-dark #{active_district}", 'data-kind': 'district' %>
    <%= link_to "ឃុំ", root_path(kind: 'commune', daterange: @date_range), class: "btn btn-sm btn-outline-dark #{active_commune}", 'data-kind': 'commune' %>
    <%= link_to "អង់តែន", root_path(kind: 'spot', daterange: @date_range), class: "btn btn-sm btn-outline-dark #{active_spot}", 'data-kind': 'spot' %>
  </div>
  <div class="datepicker d-inline-flex">
    <input name="dates" class="form-control form-control-sm" value="<%= @date_range %>" />
  </div>
  <div class="mt-1">
    <%= link_to "បញ្ជូនឯកសារ", new_caller_logs_csv_path, class: 'btn btn-primary btn-sm' %>
  </div>
  <div class="btn-search mt-1 d-none">
    <a href="#" class="btn btn-primary">Search</a>
  </div>
</div>

<% if @query && @query.indicator %>
  <div class="legend">
    <ul class="m-0 p-0">
      <li>
        <span class="badge badge-pill color" style="background-color: #02c39a">&nbsp;</span>
        <span class="desc">1 - <%= @query.indicator[:mid] %></span>
      </li>
      <li>
        <span class="badge badge-pill color" style="background-color: #ffbe0b">&nbsp;</span>
        <span class="desc"><%= @query.indicator[:mid]+1 %> - <%= @query.indicator[:max] %></span>
      </li>
      <li>
        <span class="badge badge-pill color" style="background-color: #e71d36">&nbsp;</span>
        <span class="desc"><%= @query.indicator[:max] %>+</span>
      </li>
    </ul>
  </div>
<% end %>
<%= Gon::Base.render_data %>