<div id="map"></div>
<div class="options">
  <div class="btn-group btn-group-toggle" role="group" aria-label="Basic example">
    <button class="btn btn-sm btn-outline-dark <%= active_province %>">Province</button>
    <button class="btn btn-sm btn-outline-dark <%= active_district %>">District</button>
    <button class="btn btn-sm btn-outline-dark <%= active_commune %>">Commune</button>
    <button class="btn btn-sm btn-outline-dark <%= active_village %>">Village</button>
  </div>
  <div class="datepicker mt-1">
    <input name="dates" class="form-control" value="<%= @date_range %>" />
  </div>
  <div class="btn-search mt-1">
    <a href="#" class="btn btn-primary">Search</a>
  </div>
</div>
<%= Gon::Base.render_data %>