#map
.options
  - if @query.locations.count > 0
    %p.d-inline{:style => "font-size: 18px"}
      បង្ហាញចំនួនតេ #{@query.inperiod_count} ក្នុង #{@query.all_count}
  .btn-group.btn-group-toggle{"aria-label" => "Basic example", :role => "group"}
    = link_to "ខេត្ត", root_path(kind: 'province', daterange: @date_range), class: "btn btn-sm btn-outline-dark #{active_province}", 'data-kind': 'province'
    = link_to "ស្រុក", root_path(kind: 'district', daterange: @date_range), class: "btn btn-sm btn-outline-dark #{active_district}", 'data-kind': 'district'
    = link_to "ឃុំ", root_path(kind: 'commune', daterange: @date_range), class: "btn btn-sm btn-outline-dark #{active_commune}", 'data-kind': 'commune'
    = link_to "អង់តែន", root_path(kind: 'spot', daterange: @date_range), class: "btn btn-sm btn-outline-dark #{active_spot}", 'data-kind': 'spot'
  .datepicker.d-inline-flex
    %input.form-control.form-control-sm{:name => "dates", :value => "#{@date_range}"}/
  .mt-1
    = link_to "បញ្ជូនឯកសារ", new_caller_logs_csv_path, class: 'btn btn-primary btn-sm'
  .btn-search.mt-1.d-none
    %a.btn.btn-primary{:href => "#"} Search
- if @query && @query.indicator
  .legend
    %ul.m-0.p-0
      %li
        %span.badge.badge-pill.color{:style => "background-color: #02c39a"}  
        %span.desc
          1 - #{@query.indicator[:mid]}
      %li
        %span.badge.badge-pill.color{:style => "background-color: #ffbe0b"}  
        %span.desc
          = @query.indicator[:mid]+1
          \- #{@query.indicator[:max]}
      %li
        %span.badge.badge-pill.color{:style => "background-color: #e71d36"}  
        %span.desc
          = @query.indicator[:max]
          +
= Gon::Base.render_data
