<div id="map"></div>
<div class="options">
  <% if @query.locations.count > 0 %>
    <h6 class="d-inline">ចំនួនតេសរុប: <%= @query.callers_count %></h6>
  <% end %>
  <div class="btn-group btn-group-toggle" role="group" aria-label="Basic example">
    <%= link_to "Province", root_path(kind: 'province', daterange: @date_range), class: "btn btn-sm btn-outline-dark #{active_province}" %>
    <%= link_to "District", root_path(kind: 'district', daterange: @date_range), class: "btn btn-sm btn-outline-dark #{active_district}" %>
    <%= link_to "Commune", root_path(kind: 'commune', daterange: @date_range), class: "btn btn-sm btn-outline-dark #{active_commune}" %>
    <%= link_to "Spot", root_path(kind: 'spot', daterange: @date_range), class: "btn btn-sm btn-outline-dark #{active_spot}" %>
  </div>
  <div class="datepicker d-inline-flex">
    <input name="dates" class="form-control form-control-sm" value="<%= @date_range %>" />
  </div>
  <div class="mt-1">
    <%= link_to "Upload Call Logs", new_caller_logs_csv_path, class: 'btn btn-primary btn-sm' %>
  </div>
  <div class="btn-search mt-1 d-none">
    <a href="#" class="btn btn-primary">Search</a>
  </div>
</div>
<%= Gon::Base.render_data %>