!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Mapping115
    = csrf_meta_tags
    = favicon_link_tag
    = csp_meta_tag
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_pack_tag 'application', 'data-turbolinks-track': 'reload'
  %body{:id => "#{controller_name}_#{action_name}"}
    = render "shared/flash"
    = yield
    = javascript_include_tag "moment"
    = javascript_include_tag "daterangepicker"
