<!DOCTYPE html>
<html>
  <head>
    <title>Mapping115</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body id="<%=controller_name %>_<%= action_name %>">
    <%= render "shared/flash" %>
    
    <%= yield %>

    <%= javascript_include_tag "moment" %>
    <%= javascript_include_tag "daterangepicker" %>
  </body>
</html>
